[user]
	name = Akito Tsutsui
    email = akito.tsutsui@gmail.com
[core]
    pager = less -q -R
	excludesfile = /Users/akito/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"
    preloadindex = true
    quotepath = false

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[help]
    autocorrect = 1

[diff]
    tool      = vimdiff
    algorithm = histogram

[merge]
    tool = vimdiff

[alias]
    ci = commit
    st = status
    br = branch
    co = checkout
